body{
  background: url('https://wallpapercave.com/wp/wp2553210.png');
  background-size: cover;
  background-attachment:fixed;
}
.navbar{
  background:#e6bc35;
  height:10vh;
}
.navbar-brand{
  color:#ffffff;
  font-weight:700;
}
.nav-item{
  margin: 0 1rem;
}
.nav-link{
  color:#ffffff;
  font-weight:700;
}
/* Task Screen */


/*Task List */
.task-list{
  margin: 1rem;
  min-width: 100%;
}
.head-name{
  margin-top: 1rem;
  text-transform:capitalize;

}

.alert{
  margin: 1rem 0;
}
.fa-times{
  color:red;
}
.fa-check{
  color:green;
}
.fa-check:hover, .fa-times:hover{
  color: #000;
  cursor: pointer;
}

.home .row{
  min-height: 90vh;
}
.home .col-md-4{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-card{
  height: auto;
  min-width:30vw;
  background: #e6bc35;
  color: #ffffff;
  border-radius: 10px;
  box-shadow:  5px 5px 13px #b5b5b5,
             -5px -5px 13px #ffffff;
}
.home-card img{
  padding: 1rem;
  border-radius: 50%;
  
}
.home-card:hover{
  background: #ffffff;
  color: #e6bc35;
}
.home-card .card{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-card .card-body{
  height: auto;
}
.home .plat-txt{
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 700;
}
.home .task-txt{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.home .btn{
  width: 100%;
  border: 1px solid #e6bc35;
}
.home .btn:hover{
  background: #e6bc35;
  color: #ffffff;
  font-weight: 700;
}
.symbols{
  font-size: 1.5rem;
}
.login-page .row{
  padding: 2rem;
}
.login-page .col-md-6{
  min-height: 40vh;
  border-radius: 10px 10px;
}
.login-page .card{
  width: 70%;
  
}
.text-muted{
  cursor: pointer;
}
.taskTxt{
  background:#ffffff;
  padding:0.6rem;
  margin:1rem 0;
}


.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .RegisterBtn{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .RegisterBtn{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.login,
.image {
  min-height: 90vh;
}

.bg-image {
  background-image: url('https://bootstrapious.com/i/snippets/sn-page-split/bg.jpg');
  background-size: cover;
  background-position: center center;
}


html,body{
  overflow-x: hidden;
}


